/* inicio estilo generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main section h1 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #E3B23C;
    margin-top: 40px;
    text-decoration: underline;
}

body {
    overflow-x: hidden;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #FFEFBA; 
    background: -webkit-linear-gradient(to top, #FFFFFF, #FFEFBA);  
    background: linear-gradient(to top, #FFFFFF, #FFEFBA); 
    min-height: 120vh;
    margin: 0;
}

/* fin estilos generales*/
/* Inicio estilos header */
.encabezado {
    display: flex;
    flex-direction: column;
}

.encabezado__img {
    margin-inline: auto;
    width: 220px;
    height: 220px;
    justify-content: center;
}

.encabezado__nav {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    display: inline;
    margin: 15px;
    font-size: 1.5em;
}

nav ul li a {
    text-decoration: none;
    color: #423E37;
}

nav ul li a:hover {
    color: #F4442E;
}

/* Fin estilo header */
/* Inicio estilo main */

/* Main seccion Inicio */
.inicio {
    display: flex;
    flex-direction: row-reverse;
}

.inicio__img {
    margin-right: 60px;
    padding: 50px;
}

.inicio__text {
    width: 800px;
    height: 400px;
    margin-top: 30px;
    margin-left: 35px;
    padding: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #6E675F;
}

/* Main seccion Empresa */

.empresa {
    display: flex;
    margin-bottom: 90px;
    align-items: center;
}

.empresa__title {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 90px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #E3B23C;
    text-decoration: underline;
}

.empresa__img {
    margin-left: 90px;
}

.empresa__text {
    margin-right: 90px;
    margin-left: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: #6E675F;
}

/* Main seccion Servicios */

.servicios {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 90px;
}

.servicios__title {
    margin-top: 50px;
    margin-bottom: 40px;
    color: #E3B23C;
    text-decoration: underline;
}

.servicios__text {
    margin: 50px 100px 30px 100px;
    color: #6E675F;
    text-align: center;
}

.servicios__logo img {
    flex-direction: row;
    margin: 90px;
    width: 80px;
    height: 80px;
}

/* Main seccion Maquinas */

.maquinas {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.maquinas__title {
    color: #E3B23C;
    text-decoration: underline;
    margin-top: 50px;
    margin-bottom: 40px;
}

.maquinas__text {
    margin: 50px 100px 80px 100px;
    color: #6E675F;
    text-align: center;
}

.maquinas__img img {
    width: 1300px;
    height: 400px;
    margin-bottom: 80px;
}



/* Fin estilo main */
/* Inicio estilo Gallery */
.gallery__title {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 90px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}

.gallery {
    display: grid;
    grid-gap: 5px;
    grid-template-areas:
        'A'
        'B'
        'C'
        'D'
        'E';
}

img:nth-child(1) {
    grid-area: A;
}

img:nth-child(2) {
    grid-area: B;
}

img:nth-child(3) {
    grid-area: C;
}

img:nth-child(4) {
    grid-area: D;
}

img:nth-child(5) {
    grid-area: E;
}

img {
    width: 100%;
    height: auto;
}

@media (min-width: 576px) {
    .gallery {
        grid-template-columns: 1.52fr 1fr 1fr 1.525fr;
        grid-template-areas:
            'A  B  C  E'
            'A  D  D  E';
    }
}
/* Fin estilo Gallery */
/* Inicio estilo product */
.product {
    margin-bottom: 35px;
}

.product__title {
    text-align: center;
    margin-bottom: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.product__items {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.product__items div {
    margin: 35px;
}

.product__items div a {
    text-align: center;
}

/* Fin estilo product */


/* Inicio estilo call */
.call {
    display: flex;
    flex-direction: column;
    margin-top: 75px;
}

.call__title {
    text-align: center;
    margin-bottom: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.call__text {
    text-align: center;
    margin: auto;
    max-width: fit-content;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #6E675F
}

.call__button {
    display: flex;
    margin-top: 35px;
    margin-bottom: 50px;
    justify-content: center;
}

button {
    width: 200px;
    height: 50px;
    background-color: #F4442E;
    color: #EDEBD7;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 15px;
    border-top: 15px;
    border-left: 15px;
}

button:hover {
    background-color: #E3B23C;
    color: #423E37;
    border: none;
}
/* Fin estilo call */
/* Inicio estilo Form */
form {
    padding: 37.5px;
    margin: 50px 0;
    margin-left: -20px;
}

.contenedor__form {
    border: solid 3px #474544;
    max-width: 768px;
    margin: 60px auto;
    position: relative;
}

.campo__nombre {
    float: left;
    width: 45%;
    margin-left: 4%;
}

.campo__email {
    float: right;
    width: 45%;
}

.campo__tel {
    float: left;
    width: 45%;
    margin-left: 4%;
}

.campo__pais {
    float: right;
    width: 45%;
}

.campo__pais select {
    width: 55%;
    margin-left: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.checkbox {
    float: left;
    width: 45%;
    margin-top: 3%;
}

.checkbox .input__check {
    margin-left: 25%;
    margin-top: -8%;
}

textarea {
    width: 100%;
    height: 100px;
    border: solid 1px #474544;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    resize: none;
    background-color: #EDEBD7;
}

label {
    display: block;
    margin: 8px;
    padding: 2px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input {
    display: block;
    margin: 5px;
    padding: 2px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 300px;
    background-color: #EDEBD7;
}

.campo__pais select {
    display: block;
    margin: 5px;
    padding: 2px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #EDEBD7;
}

.contenedor__form h2 {
    color: #474544;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 7px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.underline {
    border-bottom: solid 2px #474544;
    margin: -0.512em auto;
    width: 80px;
}

/* Fin estilo Form */

/* inicio estilo footer */
.footer {
    display: flex;
    justify-content: space-evenly;
    background-color: #6E675F;
}

.footer div {
    display: flex;
    align-items: center;
    width: 300px;
    height: 250px;
}

.footer__text {
    text-align: center;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 140px;
    color: #EDEBD7;
}

.footer iframe {
    margin-top: 90px;
}

.footer__text1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    justify-content: center;
    color: #EDEBD7;
    margin-top: 35px;
}

/* fin estilo footer */
/* Medias query */

/*Tablet*/
@media (max-width: 576px) {

    /* Inicio estilos index*/

    /* Inicio estilos header*/
    h1 {
        margin-left: 10px;

    }

    .encabezado {
        display: flex;
        flex-direction: column;
        margin-left: 10px;

    }

    .encabezado__img {
        width: 150px;
        height: 150px;

    }

    nav ul {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    nav ul li {
        display: inline;
        margin: 5px;
        font-size: 1em;
        text-align: center;
    }

    /* Fin estilo header */
    /* Main seccion Inicio */
    .inicio {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0px;
    }

    .inicio__img {
        display: none;
    }

    .inicio__text {
        margin-top: 10px;
        width: 500px;
        height: auto;
        margin-left: 10px;
        overflow-y: hidden;
    }

    /* Inicio estilo product Inicio */
    .product {
        margin-bottom: 35px;
    }

    .product__title {
        text-align: center;
        margin-top: 20px;

    }

    .product__items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .product__items div a {
        text-align: center;
    }

    /* Fin estilo product */
    .call {
        margin-top: 50px;
    }

    .call__text {
        text-align: center;
        margin: auto;
        max-width: 500px;
    }

    .footer {
        display: flex;

    }

    .footer__text1 p {
        margin: 20px;
        font-size: 0.8em;
        margin-top: 80px;
    }


    /* Fin estilos index*/


    /* Inicio estilos Empresa*/

    .empresa {
        display: flex;
        flex-direction: column;

    }

    .empresa__img {
        width: 350px;
        height: 350px;
        margin-top: -20px;
        margin-left: 5px;
    }

    .empresa__text {
        margin-top: -25px;
        margin-left: 85px;
        width: 500px;
        height: auto;
        overflow-y: hidden;
    }

    /* Fin estilos Empresa*/

    /* Inicio estilos Servicios*/

    .servicios__logo {
        display: flex;
        flex-direction: column;
    }

    .servicios__logo img {
        margin: 30px;
    }

    /* Fin estilos Servicios*/

    /* Inicio estilos Maquinas*/

    .maquinas__img img {

        width: 560px;
        height: auto;
        margin-left: 10px;
    }

    /* Fin estilos Maquinas*/

    /* Inicio estilos Contacto*/
    /* Fin estilos Contacto*/

}