/* inicio estilo generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main section h1 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #E3B23C;
    margin-top: 40px;
    text-decoration: underline;
}

body {
    background: #FFEFBA;
    background: -webkit-linear-gradient(to top, #FFFFFF, #FFEFBA);
    background: linear-gradient(to top, #FFFFFF, #FFEFBA);
    min-height: 120vh;
    margin: 0;

}

.row {
    justify-content: center;
}

/* Fin estilos generales*/
/* Inicio estilos header */
.encabezado__nav {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5em;
    text-decoration: none;
    color: #423E37;
}

.encabezado__nav-1:hover {
    color: #F4442E;
}

/* Fin estilo header */
/* Main seccion Inicio */
/* Estilo Inicio */
.inicio {
    margin-top: 50px;
    /* display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center; */
}

.inicio__img img {
    width: 350px;
    height: 400px;
}

.inicio__text {
    line-height: 2rem;
    max-width: 450px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #6E675F;
}

.inicio__text h2 {
    font-size: 30px;
}

.inicio__text h2:hover {
    color: #F4442E;
    max-width: 500px;
    font-size: 32px;
}

/* Fin estilo inicio */
/* Estilo product */
.product {
    margin-top: 100px;
    margin-bottom: 35px;
}

.product__title {
    text-align: center;
    margin-bottom: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #F4442E;
}

.product__items {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    text-align: center;
    background: linear-gradient(rgba(255, 254, 253, 0.600), rgba(255, 254, 253, 0.600)), url("/assets/img/gallery-1.jpg") fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.product__items div {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.product__items div a {
    text-align: center;
    justify-content: center;
    color: black;
    text-decoration: none;
}

/* Fin estilo product */
/* Estilo gallery */
.gallery {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery__title {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #F4442E;
    margin-bottom: 50px;
}

.carrousel {
    height: 25%;
    width: 500px;
    margin-bottom: 80px;
}

/* Fin estilo gallery */
/* Estilo call */
.call {
    display: flex;
    flex-direction: column;
    margin-top: 75px;
    margin-bottom: 80px;
}

.call__title {
    text-align: center;
    margin-bottom: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.call__text {
    line-height: 2rem;
    font-size: 30px;
    text-align: center;
    margin: auto;
    max-width: 600px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #6E675F
}

.call__button {
    display: flex;
    margin-top: 35px;
    margin-bottom: 50px;
    justify-content: center;
}

.button__main {
    width: 300px;
    height: 60px;
    background-color: #F4442E;
    color: #EDEBD7;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 15px;
    border-top: 15px;
    border-left: 15px;
}

.button__main:hover {
    background-color: #E3B23C;
    color: #423E37;
    border: none;
}

/* Fin estilo call */
/* Fin main seccion Inicio */
/* Main seccion empresa */
.empresa__title {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 90px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #E3B23C;
    text-decoration: underline;
}

.empresa__text {
    font-size: 22px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #6E675F;
    line-height: 2rem;
}

.subtitle {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-bottom: 100px;
}

.subtitle h2 {
    color: #F4442E;
}

/* Fin main seccion empresa */
/* Main seccion servicios */
.servicios__title {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 80px;
    color: #E3B23C;
    text-decoration: underline;
}

.card-title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card-text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card__1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 100px;
}

.card-body {
    background-color: #FFEFBA;
}

.btn-card {
    background-color: #F4442E;
    color: #EDEBD7;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 15px;
    border-top: 15px;
    border-left: 15px;
}

.btn-card:hover {
    background-color: #E3B23C;
    color: #423E37;
    border: none;
}

/* Fin main seccion servicios */
/* Main seccion maquinas */
.maquinas {
    display: flex;
    justify-content: center;
    margin-bottom: 180px;
}

.maquinas__img img {
    margin-left: 90px;
    width: 10rem;
    height: auto;
}

.maquinas__text {
    display: flex;
    align-items: center;
    color: #6E675F;
}

/* Fin main seccion máquinas */
/* Main seccion form */
.form__email {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Fin main seccion form */
/* Estilo Footer */
.text__footer a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #423E37;
}

.text__footer a:hover {
    color: #F4442E;
}

.text__footer1 p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #E3B23C;
}
/* Fin estilo Footer */
