.main__title {
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 90px;
	font-family: $ff-lucida;
	color: $clr-amarillo;
	text-decoration: underline;
}
.empresa__text {
	font-size: 22px;
	font-family: $ff-lucida;
	color: $clr-gris;
	line-height: 2rem;
}
.map {
	display: flex;
	justify-content: center;
}

