.servicios__title {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 80px;
	color: #E3B23C;
	text-decoration: underline;
}
.card-title {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.card-text {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.card__1 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 100px;
}
.card-body {
	background-color: #FFEFBA;
}
.btn-card {
	background-color: #F4442E;
	color: #EDEBD7;
	font-size: 20px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	border-radius: 15px;
	border-top: 15px;
	border-left: 15px;
	&:hover {
		background-color: #E3B23C;
		color: #423E37;
		border: none;
	}
}
