.encabezado__nav {
	font-family: $ff-lucida;
	font-size: 1.5em;
	text-decoration: none;
	color: $clr-marron;
}
.encabezado__nav-1 {
	&:hover {
		color: $clr-naranja;
	}
}
.logo {
	width: 50px;
	height: 50px;
}