/* Colores */ 

$clr-amarillo: #E3B23C;
$clr-marron: #423E37;
$clr-naranja: #F4442E;
$clr-gris: #6E675F;
$clr-negro: black;
$clr-claro: #EDEBD7;
$clr-card: #764134;


/* Fonts */ 

@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

$ff-acme: "Acme", sans-serif;
$ff-lucida: "Lucida Sans", Verdana, sans-serif;

/* Border */ 

$borderRadius: 0.50rem; 


